* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

a, div {
    color: inherit;
    text-decoration: none;
}

nav{
    background-color: black;
    display: flex;
    padding: 0.7em;
}

nav ul{
    display: flex;
}
nav ul h2{
    color: white;
}

nav ul .user {
    color: beige;
}


/* La page d'acceuil, la liste des annonces */
.annonces {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
}

.annonce {
    background-color: blanchedalmond;
    width: 55em;
    border: 1px solid black;
    border-radius: 9px;
    display: flex;
    gap: 0.8em;
}

.description p{
    margin-bottom: 0px;
}

.photos {
    width: 300px; /* Définir la largeur du conteneur */
    height: 208px; /* Définir la hauteur du conteneur */
    overflow: hidden;
}

.photos img {
    width: 100%;
    height: 13em;
    object-fit: cover;
    border-radius: 9px 0 0 9px;
}

/* les buttons pour ajouter aux favoris */

.btn-succes {
    width: 10em;
    height: 2em;
    border-radius: 5px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-favoris {
    width: 10em;
    height: 2em;
    border-radius: 5px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-ajoutRetrait a {
 
}

/* Formulaire de recherche */

.form-inline {
    display: flex;
    align-items: center;
}
