{% extends 'base.html.twig' %}

{% block title %}Liste des annonces!{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    {% for annonce in annonces %}
        {{ annonce }}  <br>
    {% endfor %}   
{% endblock %}
