{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    {% for utilisateur in utilisateurs %}
        <a href="{{ path('show_utilisateur', {'id': utilisateur.id})}}">{{utilisateur}}</a> <br>
    {% endfor %}

{% endblock %}
