{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>
    {# <p>{{ message }}</p> #}
    <p>Désolé, la page que vous recherchez n'existe pas ou a été supprimée.</p>
{% endblock %}