{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages envoyés</h1>

    {% set displayed_destinataires = [] %}

    <ul>
        {% for message in messageEnvoye %}
            {% if message.destinataire.nom not in displayed_destinataires %}
                <li>
                    <a href="{{ path('messages_user', {'id': message.destinataire.id})}}"><strong>{{ message.destinataire.nom }}</strong></a>
                    {# <p>{{ message.contenu }}</p>
                    <small>{{ message.dateEnvoi|date('d/m/Y H:i') }}</small> #}
                </li>
                {% set displayed_destinataires = displayed_destinataires|merge([message.destinataire.nom]) %}
            {% endif %}
        {% endfor %}
    </ul>
    
{% endblock %}